<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	    classpath:/spring-beans-2.5.xsd">



  <bean id="defaultLocalRepository" class="org.scapdev.content.core.persistence.hybrid.DefaultHybridContentPersistenceManager">
    <constructor-arg ref="defaultLocalMetadataStore" />
    <constructor-arg ref="defaultLocalContentStore" />
  </bean>

  <bean id="defaultLocalContentStore" class="gov.nist.scap.content.exist.ExistDBContentStore">
    <constructor-arg value="dsig" />
    <constructor-arg value="content-repo" />
    <constructor-arg value="test123" />
    <!-- <constructor-arg value="xmldb:exist://localhost:8080/exist/xmlrpc/db/"/> -->
  </bean>

  <bean id="defaultContentHandler" class="gov.nist.scap.content.shredder.parser.DataExtractingContentHandler" scope="prototype"/>
  
  <bean id="defaultLocalMetadataStore" class="gov.nist.scap.content.semantic.TripleStoreFacadeMetaDataManager">
    <constructor-arg>
      <bean class="gov.nist.scap.content.exist.ExistDBContentRetrieverFactory">
        <constructor-arg ref="defaultLocalContentStore" />
      </bean>
    </constructor-arg>
    <!-- <constructor-arg><null/></constructor-arg> -->
    <constructor-arg value="target"/>
    <constructor-arg value="/rules.xml"/>
  </bean>
  
  <bean id="defaultContentShredder" class="gov.nist.scap.content.shredder.parser.ContentShredder">
    <constructor-arg>
      <bean class="org.springframework.beans.factory.config.PropertyPathFactoryBean">
        <property name="targetBeanName" value="defaultRuleDefinitions"/>
        <property name="propertyPath" value="ruleDefinitions"/>
      </bean>
    </constructor-arg>
  </bean>

  <bean id="defaultRuleDefinitions" class="gov.nist.scap.content.shredder.rules.xmlbeans.XmlbeansRules">
    <constructor-arg value="classpath:/rules.xml" type="java.io.InputStream" />
  </bean>

</beans>