<data>
  <proxy>
    <url>http://relfinder.semanticweb.org/Proxy3.php</url>
  </proxy>
  <endpoints>
    <endpoint>
      <name>DBpedia</name>
      <abbreviation>dbp</abbreviation>
      <description>Linked Data version of Wikipedia.</description>
      <endpointURI>http://dbpedia.org</endpointURI>
      <dontAppendSPARQL>false</dontAppendSPARQL>
      <defaultGraphURI>http://dbpedia.org</defaultGraphURI>
      <isVirtuoso>true</isVirtuoso>
      <useProxy>false</useProxy>
      <method>POST</method>
      <autocompleteURIs>
        <autocompleteURI>http://www.w3.org/2000/01/rdf-schema#label</autocompleteURI>
      </autocompleteURIs>
      <autocompleteLanguage>en</autocompleteLanguage>
      <ignoredProperties>
        <ignoredProperty>http://www.w3.org/1999/02/22-rdf-syntax-ns#type</ignoredProperty>
        <ignoredProperty>http://www.w3.org/2004/02/skos/core#subject</ignoredProperty>
        <ignoredProperty>http://dbpedia.org/property/wikiPageUsesTemplate</ignoredProperty>
        <ignoredProperty>http://dbpedia.org/property/wordnet_type</ignoredProperty>
        <ignoredProperty>http://dbpedia.org/property/wikilink</ignoredProperty>
        <ignoredProperty>http://www.w3.org/2002/07/owl#sameAs</ignoredProperty>
      </ignoredProperties>
      <abstractURIs>
        <abstractURI>http://dbpedia.org/ontology/abstract</abstractURI>
      </abstractURIs>
      <imageURIs>
        <imageURI>http://dbpedia.org/ontology/thumbnail</imageURI>
        <imageURI>http://xmlns.com/foaf/0.1/depiction</imageURI>
      </imageURIs>
      <linkURIs>
        <linkURI>http://purl.org/ontology/mo/wikipedia</linkURI>
        <linkURI>http://xmlns.com/foaf/0.1/homepage</linkURI>
        <linkURI>http://xmlns.com/foaf/0.1/page</linkURI>
      </linkURIs>
      <maxRelationLength>2</maxRelationLength>
    </endpoint>
    <endpoint>
      <name>Home SCAP CMS (from URL parameters)</name>
      <abbreviation>scapCMS1300560881618</abbreviation>
      <endpointURI>http://localhost:8080/openrdf-sesame/repositories/scapCmsTest</endpointURI>
      <dontAppendSPARQL>true</dontAppendSPARQL>
      <isVirtuoso>false</isVirtuoso>
      <useProxy>false</useProxy>
      <method>POST</method>
      <autocompleteURIs>
        <autocompleteURI>http://www.w3.org/2000/01/rdf-schema#label</autocompleteURI>
      </autocompleteURIs>
      <autocompleteLanguage/>
      <imageURIs>
        <imageURI>http://xmlns.com/foaf/0.1/depiction</imageURI>
      </imageURIs>
      <linkURIs>
        <linkURI>http://xmlns.com/foaf/0.1/page</linkURI>
      </linkURIs>
      <maxRelationLength>2</maxRelationLength>
    </endpoint>
  </endpoints>
</data>